body {
    background-color: aliceblue;
}

#PlayerA_board {
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color:black;
    width: 460px;
    height:460px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: none;
    aspect-ratio: 1 / 1;
    order: 1;
}