:root {
  --cell-highlight: 255, 0, 0;
}

body {
  background-color: aliceblue;
}
#playerBlocksContainer {
  display: flex;
  justify-content: space-evenly;
}
#PlayerA_board {
  display: flex;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: black;
  width: 460px;
  height: 460px;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: none;
  aspect-ratio: 1 / 1;
  order: 1;
}
#PlayerB_board {
  display: flex;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: black;
  width: 460px;
  height: 460px;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: none;
  aspect-ratio: 1 / 1;
  order: 1;
}

.cell {
  background-color: rgb(110, 96, 78);
  margin: none;
  outline: 1px solid black;
  background-color: rgb(8, 159, 240);
  aspect-ratio: 1/1;
}

.cell:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
